.card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.link {
	display: block;
	margin-bottom: 12px;

	@media (min-width: 580px) {
		margin-bottom: 16px;
	}
}

.img {
	width: 100%;
	object-fit: cover;
	border-radius: 16px;
	aspect-ratio: 7/6;

	@media (min-width: 580px) {
		aspect-ratio: 23/20;
	}

	@media (min-width: 820px) {
		aspect-ratio: 151/125;
	}
}

.info {
	flex-grow: 1;

	@media (min-width: 580px) {
		display: flex;
		gap: 5px;
		margin-bottom: 20px;
	}
}

.title {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 400;

	@media (min-width: 580px) {
		padding-top: 3px;
		font-size: 16px;
		margin-bottom: 0;
	}
}

.price {
	margin-bottom: 12px;
	font-size: 16px;

	@media (min-width: 580px) {
		font-size: 20px;
		margin-bottom: 0;
	}
}

.btn {
	width: 100%;
	padding: 12px 24px;
	border-radius: 32px;
	border: 1px solid #780096;
	color: #780096;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;

	&:hover {
		outline: none;
		background-color: #780096;
		color: #fff;
	}

	&:focus-visible {
		outline: none;
		border: 1px solid #C0F;
	}

	&:active {
		color: #C0F;
		border: 1px solid #C0F;
		background-color: transparent;
	}
}

.favorite {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 16px;
	height: 16px;
	color: #fff;

	&_active {
			svg {
				color: #780096;
				stroke: #780096;
			}
		}

	svg {
		stroke: #1C1C1C;

		&:hover,
		&_active {
			color: #780096;
			stroke: #780096;

			&:active {
				color: #C0F;
				stroke: #1C1C1C;
			}
		}
	}

	&:focus-visible {
		outline: 1px solid #780096;
		outline-offset: 2px;
		border-radius: 50%;
	}
}
