.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  // flex-grow: 1;
}

.isCart {
  background-color: #9dd458;
  // color: #fff;
  padding: 12px 24px;
  border-radius: 32px;
  width: 80%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toCart {
  display: block;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e02d71;
  width: 20%;
  height: 100%;
  min-height: 38px;
  border-radius: 32px;

  svg {
    width: 16px;
    height: 16px;
  }
}
